<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
 "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>

      <session-factory>
           <property name="hibernate.connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
           <property name="hibernate.connection.url">jdbc:sqlserver://localhost:1433;database=accp</property>
           <property name="hibernate.connection.username">accp</property>
           <property name="hibernate.connection.password">accp</property>
           <property name="hibernate.dialect">org.hibernate.dialect.SQLServer2008Dialect</property>
           
           <property name="show_sql">true</property>
           <property name="format_sql">true</property>
           <property name="hbm2ddl.auto">update</property>
           
           <mapping resource="com/huangdaye/HibernateDemo/entity/IdCard.hbm.xml"/>
           <mapping resource="com/huangdaye/HibernateDemo/entity/Teacher.hbm.xml"/>
      </session-factory>
      

</hibernate-configuration>
                  