<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.user.dao.UserMapper" >

  <resultMap id="roleMap" type="com.user.entity.Role" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="roleCode" property="rolecode" jdbcType="VARCHAR" />
    <result column="roleName" property="rolename" jdbcType="VARCHAR" />
    <result column="createdBy" property="createdby" jdbcType="BIGINT" />
    <result column="creationDate" property="creationdate" jdbcType="TIMESTAMP" />
    <result column="modifyBy" property="modifyby" jdbcType="BIGINT" />
    <result column="modifyDate" property="modifydate" jdbcType="TIMESTAMP" />
  </resultMap>

  <resultMap id="userMap" type="com.user.entity.User" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="userCode" property="usercode" jdbcType="VARCHAR" />
    <result column="userName" property="username" jdbcType="VARCHAR" />
    <result column="userPassword" property="userpassword" jdbcType="VARCHAR" />
    <result column="gender" property="gender" jdbcType="INTEGER" />
    <result column="birthday" property="birthday" jdbcType="DATE" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="userRole" property="userrole" jdbcType="BIGINT" />
    <result column="createdBy" property="createdby" jdbcType="BIGINT" />
    <result column="creationDate" property="creationdate" jdbcType="TIMESTAMP" />
    <result column="modifyBy" property="modifyby" jdbcType="BIGINT" />
    <result column="modifyDate" property="modifydate" jdbcType="TIMESTAMP" />
    
    <!-- 一对一关联查询 -->
    <association property="role" javaType="com.user.entity.Role" resultMap="roleMap"/>
  </resultMap>
  
  <!-- 用户登录 -->
  <select id="login" parameterType="com.user.entity.User" resultMap="userMap">
     select * from smbms_user where userCode=#{usercode} and userPassword=#{userpassword}
  </select>
  
  <!-- 修改密码 -->
  <update id="updatePassword" parameterType="com.user.entity.User">
     update smbms_user set userPassword=#{userpassword} where userCode=#{usercode}
  </update>
  
  <!-- 分页模糊查询 -->
  <select id="queryByPage" parameterType="map" resultMap="userMap">
     select u.*,r.* from smbms_user u left join smbms_role r on u.userRole=r.id
     <where>
         <if test="key!=null and key!=''">and u.userName like CONCAT('%',#{key},'%')</if>
         <if test="rolename!=null and rolename!=''">and r.roleName=#{rolename}</if>
     </where>
     limit #{from},#{pageSize}
  </select>
  
  <!-- 查询相应总记录数 -->
  <select id="count" parameterType="map" resultType="int">
     select count(1) from smbms_user u left join smbms_role r on u.userRole=r.id
      <where>
         <if test="key!=null and key!=''">and u.userName like CONCAT('%',#{key},'%')</if>
         <if test="rolename!=null and rolename!=''">and r.roleName=#{rolename}</if>
     </where>
  </select>
  
  <!-- 查询所有角色 -->
  <select id="queryAllRole" resultMap="roleMap">
     select * from smbms_role
  </select>
</mapper>