<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dao.TeacherDao">
    <resultMap type="com.entity.Teacher" id="teacherMap">
       <id column="tid" property="id" javaType="java.lang.Integer"/>
       <result column="tname" property="name" javaType="java.lang.String"/>
    </resultMap>

   <select id="queryAll" resultMap="teacherMap">
       select * from t_teacher
   </select>
</mapper>